.buttonCart{
    height: 15%;
    width: 15%;
    display: block;
    margin-left:-10% ;
   border: none;
    
}
#valueQ{
    width: 35%;
    display: block;
  margin-left: 10%;

}
#valueS{
    width: 40%;
    display: block;
    margin-top: -40px;
  margin-left: 50%;

}


.imageMetamask{
  width: 100px;
}

#cartCheckout {
  width: 100%;
  padding: 15px;
}


#cartCheckoutMetamask{
  width: 50%;
  margin-left: 32%;
  padding: 15px;
  position: absolute;
}

.paymnet-imgMetamask{
  margin-top: -75%;
  
}