* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.main-carousel {
  padding: 40px 0;

}
.gallery-cell {
  height: 200px;
  width: 200px;
  background: #316bff;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  margin-right: 40px;

}

.bottone--menu {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  text-align: center;
  margin-right: 40px;
  opacity: 0;

}



#pistacchio {
  background: url(/images/pistacchio.jpg);
  background-size: contain;
  background-position: 30% 40%;
  border: 5px solid #c6cbcc;
}

#noci {
  background: url(/images/noci.jpg) no-repeat;
  background-size: contain;
  background-position: 10% 30%;
  border: 5px solid #c6cbcc;
}


#noccioline {
  background: url(/images/noccioline.jpg) no-repeat;
  background-size: cover;
  border: 5px solid #c6cbcc;
}



#mandorle {
  background: url(/images/Mandorle.jpg) no-repeat center center;
  background-size: contain;
  background-position: 1000% 60%;
  border: 5px solid #c6cbcc;
}


#olio {
  background: url(/images/olio.jpg) no-repeat center center;
  background-size: contain;
  background-position: 1000% 60%;
  border: 5px solid #c6cbcc;
}


/*
@media screen and ( min-width: 768px ) {
 
  .gallery-cell { width: 50%; }
}
*/

@media (max-width: 575px) {
  
  .gallery-cell {  
    height: 150px;
    width: 150px; }
}

#msgStatusOK{
  color: white;
  background-color: rgba(0, 128, 0, 0.701);
  border-color: green;
}

#status{
  display: none;
}

#msgStatusNot{
  color: white;
  background-color: rgba(255, 0, 0, 0.614);
  border-color: red;
}




.button{
  height: 15px;
  position: absolute;
  width: 2px;
  border: none;
  
  margin-left: 55%;
  
}


